<div
  class="card p-4 shadow-sm"
  style="border-radius: 12px; border: none; background: var(--surface-card)"
>
  <h3 class="text-xl font-semibold mb-4" style="color: var(--primary-color)">
    Nova Transação
  </h3>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="flex flex-column gap-4"
  >
    <div class="flex flex-column gap-2">
      <label for="data" class="font-medium">Data</label>
      <p-datepicker
        id="data"
        formControlName="data"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        styleClass="w-full"
      ></p-datepicker>
    </div>

    <div class="flex flex-column gap-2">
      <label for="descricao" class="font-medium">Descrição</label>
      <input
        pInputText
        id="descricao"
        formControlName="descricao"
        placeholder="Ex: Aluguel, Supermercado"
        class="w-full"
      />
    </div>

    <div class="flex flex-column gap-2">
      <label for="valor" class="font-medium">Valor</label>
      <p-inputNumber
        id="valor"
        formControlName="valor"
        mode="currency"
        currency="BRL"
        locale="pt-BR"
        [minFractionDigits]="2"
        class="w-full"
        styleClass="w-full"
      ></p-inputNumber>
    </div>

    <div class="flex flex-column gap-2">
      <label class="font-medium">Tipo</label>
      <p-selectButton
        [options]="tiposTransacao"
        formControlName="tipo"
        styleClass="w-full"
      ></p-selectButton>
    </div>

    <div class="pt-2">
      <button
        pButton
        label="Salvar Transação"
        icon="pi pi-check"
        type="submit"
        [disabled]="form.invalid"
        class="w-full p-button-raised"
      ></button>
    </div>
  </form>
</div>
